$bp: (
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);

@mixin min($name) {
  @media (min-width: map-get($bp, $name)) {
    @content;
  }
}

@mixin max($name) {
  @media (max-width: map-get($bp, $name)) {
    @content;
  }
}
